$white: #fff;

$black_100: #000000;
$black_80: #414141;
$black_60: #707170;

$blue_100: #075ad1;
$blue_80: #397bda;
$blue_60: #6a9ce3;

$orange_100: #ffa100;
$orange_80: #ffb433;
$orange_60: #ffc766;

/* time */

$fast: 0.2s;
$slow: 0.5s;
